<footer id="page-footer" class="container-fluid text-bg-dark">
  <div class="container-lg p-5">
    <div class="row">
      <div class="col-12 col-md">
        <div class="textwidget">
          <div class="brand-wrapper">
            {% logo "./src/assets/images/hfu-trans.gif", "Health for Uganda Logo - Transparent", "100vw", "150" %}
          </div>
        </div>
      </div>
      <div class="widget_text col-12 col-md">
        <div class="textwidget custom-html-widget"></div>
      </div>
      <div class="col-12 col-md">
        <div class="textwidget">
          <div class="contact-details">
            Health for Uganda / Africa e.V.<br />
            Laura Beutler<br />
            Rosenstraße 4<br />
            35781 Weilburg-Hasselbach
          </div>
        </div>
      </div>
      <div class="col-12 col-md">
        <div class="textwidget">
          <div class="contact-details text-right">
            Telefon: <a href="tel:+491781746315">+49 178 1746315</a><br />
            <a href="mailto:info@health-for-uganda-africa.org">info@health-for-uganda-africa.org</a>
          </div>
        </div>
      </div>
    </div>
    <!-- #secondary -->
  </div>
</footer>

<!-- <p class="float-end"><a href="#">Back to top</a></p>
  <p>
    <a href="https://github.com/mandrasch/11ty-plain-bootstrap5">GitHub</a> ·
    <a href="{{ '/pages/imprint' | url }}">Imprint</a> · <a href="{{ '/pages/privacy' | url }}">Privacy</a>
  </p> -->
