<header class="container-fluid py-2 mb-4 border-bottom text-bg-dark">
  <nav class="container-lg navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a href="{{ '/' | url }}" class="navbar-brand d-flex align-items-center text-decoration-none">
        <div class=".img-fluid" height="30px">
          {% logo "./src/assets/images/hfu-trans.gif", "Health for Uganda Logo - Transparent", "100vw", "50" %}
        </div>
        <span class="fs-4">{{ site.title }}</span>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">{% include "navigation.njk" %}</div>
    </div>
  </nav>
</header>
