---
title: Welt Malariatag 2021
image:
imageAlt:
---

<p>
  Gemeinsam mit unseren Projektpartnern vor Ort haben wir dieses Thema in den letzten Tagen aufgearbeitet und
  besprochen. Hier einen Bericht, welcher ein Interview mit Noah und Clare beinhaltet.
</p>
