// Variable overrides, e.g.
// $body-bg: cyan;

// See: https://getbootstrap.com/docs/5.0/customize/sass/
$primary: #ef6c00;
$secondary: #5b6f5d;
// $success: ;
$info: #ebbc6b;
// $warning: ;
// $danger: ;
$light: #cec184;
$dark: #2f3938;
